# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
.idea/
writereaddata/
CHANGELOG.txt
google61512d145cab304e.html
