# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
writereaddata/*
sites/*/.idea/*
/sites/all/modules/features/*
/sites/all/modules/devel/*
/sites/.idea/*
