.book-navigation {
  clear: both;
  padding-top: 1em;
  margin: 0 0 1em 0;
}

.book-navigation .nav {
  border-top: 1px solid rgb(229, 229, 229);
  margin-bottom: 3px;
}

.book-navigation .nav li {
  list-style: disc outside none;
  margin: 0 0 0 25px;
}

.book-navigation .page-links {
  border-top: 1px solid rgb(229, 229, 229);
}

.book-navigation .page-links .page-previous {
  text-align: left;
  width: 42%;
  display: block;
  float: left;
}

.book-navigation .page-links .page-up {
  margin: 0px 5%;
  width: 4%;
  display: block;
  float: left;
}

.book-navigation .page-links .page-next {
  text-align: right;
  width: 42%;
  display: block;
  float: right;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #e9e9e9;
}

.main-container {
  height: auto !important;
  .text-justify;
}

#node-8 {
  a {
    color: red;
  }
  .active {
    color: white;
  }
}

.card {
  padding: 10px;
}

.card-portrait {
  .card;
  width: 240px;
}

.card-landscape {
  .card;
  width: 320px;
}

.block-menu {
  border-width: 1px 1px 1px 5px;
  border-left-color: @brand-warning;
}

.block-title {
  color: black;
  //border-bottom: 4px solid @brand-info;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.node-page {
  .card {
    margin: 10px;
    .block-title {
      border-bottom: 4px solid @brand-success;
    }
  }
}

.region-sidebar-first, .region-sidebar-second {
  .thumbnail();
  padding: 20px 20px 20px 15px;
  //border-left-width: 5px;
  //border-left-color: @brand-warning;
  background-color: #7bd4a8;
  .block-title {
    font-size: @font-size-h4;
  }
  ul li a {
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 8px;
  }
}

.dmdesk {
  font-style: italic;
  font-family: italic;
}
