.logo-lg {
  padding: 30px 0 0 30px;
}

.site-name {
  padding: 30px 0 20px 90px;
  font-size: @font-size-h1;
}

.inset-text-effect {
  display: inline-block;
  border: none;
  font: normal 40px/1 "Aladin", Helvetica, sans-serif;
  color: rgba(48, 48, 48, 1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
}

.block-search {
  padding: @padding-base-horizontal;
}

#navbar.affix {
  top: 0;
  width: 100%;
  .opacity(0.95);
}

@media (max-width: @grid-float-breakpoint) {
  .affix {
    position: static;
  }
}